samantha/config.py
logfile
samantha.session
samantha.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
samantha.mp3
gpic.png
