hinata/config.py
logfile
hinata.session
hinata.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
hinata.mp3
gpic.png
