dabi/config.py
logfile
dabi.session
dabi.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
dabi.mp3
gpic.png
