#### Bot lib ####
python-telegram-bot==12.8
telethon
pyrogram
#################
future
emoji
requests
sqlalchemy
psycopg2-binary
pythonping
feedparser
pytz
gtts
bs4
lxml
demjson
wget
bs4
telegraph
pillow
psutil
speedtest-cli>=2.0.2
googletrans
wikipedia
spamwatch
bleach
markdown2>=2.3.9
alphabet_detector
tgcrypto
coffeehouse